
body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Risque', cursive;
    /*padding: 0.2em;*/
}

/*h1 { font-size: 300% }
h2 { font-size: 225% }
h3 { font-size: 175% }

td, p { padding: 0.05em; }*/
